.col-md-4{
    padding: 0px;
}
.col-sm-12{
    padding-top: 25px;
}

.tab-content {
    padding-right: 30px;
    padding-left: 30px;
}
btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #244579;
    opacity: 1;
}
.btn-info{
    background-color: #244579;
    opacity: .8;
}
.wrap{
    min-width: 200px;
}
.font-style{
    font-size: 14px;
    font-weight: bold;
    color: lightgray;
    line-height: 1;
    padding-top: 8px;
}
.button-text{
    font-weight: bold;
}