.col-md-4{
    padding: 0px;
}
.col-sm-12{
    padding-top: 25px;
}

.tab-content {
    padding-right: 30px;
    padding-left: 30px;
}
btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #244579;
    opacity: 1;
}
.btn-primary{
    background-color: #244579;
    opacity: .8;
}
.wrap{
    min-width: 200px;
}