.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    border-top: solid #ccc 1px;
    display: block;
    overflow: hidden;
}

a {
    color: #aab8c2;
    padding-right: 15px;
    font-size: .85rem;
}

.links:hover {
    color: #244579;
    text-decoration: underline;
}

/* .noPad{
    padding: 0px;
} */

.col-12 {
    text-align: center;
}

@media only screen and (max-width: 1400px) {
    .footer {
        height: 11%;
    }
}