.card-header {
    font-weight: bold;
}

img {
    height: 60px;
    width: 60px;
    margin: 11px;
    float: left;
}

hr {
    margin: 0px;
}

.buddy-button {
    margin-left: auto;
}

.card {
    -webkit-box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.75);
}

.goalcardpropic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid lightslategrey;
    /* #F7F7F7 */
}

.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.goalCardUsername {
    color: #244579;
    padding-top: 10px;
}

.goalCardUsername:hover {
    text-decoration: underline;
}

p {
    font-size: 12px;
    margin-bottom: 5px;
}

time {
    font-size: 14px;
}

textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 30px 5px 5px 5px;
    resize: none;
    outline: none;
    width: 84%;
    font-size: 14px;
    line-height: 1.3;
}
.card-header{
    padding: 10px;
}
.create-goal-text{
    font-size: 14px;
    line-height: 1;
}
.no-pad{
    padding: 0px;
}
.sign-in-alert-text{
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    font-weight: bold;
    font-size: 14px;
}
.alert{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}